
build-asa_application-Desktop_Qt_5_7_0_GCC_64bit-Debug/

build-asa_application-Desktop_Qt_5_7_0_GCC_64bit-Release/

build-asa_application-Rpi_3-Release/

build-asa_application-Desktop_Qt_5_8_0_MinGW_32bit-Debug/

build-asa_application-Desktop_Qt_5_8_0_MinGW_32bit-Release/

build-asa_application-QT_RASPBERRY_compilacion_cruzada-Debug/

build-asa_application-QT_RASPBERRY_compilacion_cruzada-Release/

*.zip
